# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Nengo autosaves
*.cfg
nengo_gui_auto_save*

# Local test scripts (optional)
toy_*.py
